@font-face {
    font-family: 'astro';
    src: url(font/SpaceQuest-Xj4o.ttf);
}

/* * {
    font-family: astro;
    letter-spacing: 2px;
    color: yellow;
    font-size: 20px;
} */

body {
    background-image: url('bg.jpg');
    background-size: cover;
}

canvas {
    border: 2px solid purple;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    background-color: black;
    letter-spacing: 2px;
}